.big-button {
  height: 28px;
}

.big-text {
  font-size: 24px;
}

.bold {
  font-weight: bold;
}

.comment-box:before {
  content: "\feff ";
}

.gallery {
  display:        flex;
  flex-direction: row;
  flex-wrap:      wrap;
  border:         2px solid black;
  border-radius:  4px;
  min-height:     600px;
  width:          800px;
}

.header {
  font-size:   24px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.session-name {
  color: #00a9ff;
}

.spacer-row {
  height: 10px;
}

.spacer-column {
  width: 10px;
}

.upload-container {
  display:        flex;
  align-items:    center;
  flex-direction: column;
  max-width:      250px;
  padding:        8px;
  height:         250px;
  width:          250px;
  position:       relative;
}

.upload-form-fields {
  border:        2px solid black;
  border-radius: 4px;
  padding:       5px;
  width:         300px;
}

.upload-image {
  max-height: 230px;
  max-width:  230px;
}

.upload-label {
  max-width:     inherit;
  overflow-x:    hidden;
  text-overflow: ellipsis;
  white-space:   nowrap;
}

.upload-container .deleter {

  visibility: hidden;

  position: absolute;
  top:      15px;
  right:    15px;

  height:   30px;
  width:    30px;

}

.upload-container:hover .deleter {
  visibility: visible;
}

.deleter-main {

  background-color: red;
  border:           2px inset black;
  border-radius:    20px;

  position: relative;

  height: 100%;
  width:  100%;

}

.deleter:active .deleter-main {
  background-color: #f66;
}

.deleter-x-part {

  background-color: white;
  border-radius:    6px;

  height:  5px;
  width:  24px;

  position: absolute;
  top:      12px;
  left:      3px;

}

.deleter:hover .deleter-x-part {
  background-color: #bbb;
}

.deleter:active .deleter-x-part {
  background-color: #eee;
}

.deleter-x-1 {
  transform: rotate(45deg);
}

.deleter-x-2 {
  transform: rotate(-45deg);
}
