.hidden {
  display: none;
}

.item-details-body {
  flex-grow:  1;
  padding:    0 15px;
  max-height: initial;
  overflow-y: scroll;
}

.item-details-button {
  font-size: 28px;
  height:    40px;
  width:     250px;
}

.item-details-image {
  border: 1px solid gray;
  height: 240px;
}

.item-image-wrapper {
  height: 250px;
}

.modal-content {
  display:        flex;
  flex-direction: column;
  width:          50%;
}
