.hidden {
  display: none;
}

.item-details-body {
  flex-grow:  1;
  padding:    0 15px;
  max-height: initial;
  overflow-y: scroll;
}

.item-details-button {
  font-size: 30px;
  height:    40px;
  width:     250px;
}

.item-details-image {
  height: 100%;
}

.item-image-wrapper {
  max-height: 45%;
  max-width:  100%;
}

.modal-content {
  display:        flex;
  flex-direction: column;
  height:         75%;
}
