.gallery {
  border:     none;
  min-height: 0;
  overflow-x: hidden;
  width:      100%;
}

.heading {
  text-align: center;
}

.heading {
  overflow-x: hidden;
}

#main-content {
 height: 100%;
 width:  100%;
}

.upload-container {
  height:        initial;
  width:         100%;
}

.upload-image {
  border:        1px solid gray;
  border-radius: 3px;
  max-width:     90%;
}

.upload-image:hover {
  box-shadow: 0 0 6px 3px rgba(15, 15, 90, .40);
}
